<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-if.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<link rel="import" href="../sangha-responsive-image/sangha-responsive-image.html">

<dom-module id="sangha-contributors">
  <template>
    <style>
      * {
        box-sizing: border-box;
      }

      :host {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        --sangha-contributor-size: 3em;
      }
      /* default vars */
      :host([overlap]) {
        --sangha-contributor-overlap: -1.5em;
        overflow:hidden;
        flex-wrap: nowrap;
      }

      /* small vars */
      :host([small]) {
        --sangha-contributor-size: 2em;
      }
      :host([small][overlap]) {
        --sangha-contributor-overlap: -1em;
      }

      /* large vars */
      :host([large]) {
        --sangha-contributor-size: 4em;
        --sangha-contributor-spacing: 0.2em;
      }
      :host([large][overlap]) {
        --sangha-contributor-overlap: -2em;
      }

      .contributor {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: var(--sangha-contributor-size);
        margin: 0 var(--sangha-contributor-spacing, 0.1em);
      }

      .contributor:nth-of-type(n + 2) {
        margin-left: var(--sangha-contributor-overlap, 0.1em);
      }

      .contributor-image {
        color: var(--sangha-contributor-border-color, var(--primary-color, black));
        background-color: var(--primary-background-color);
        border: var(--sangha-contributor-border-width, 0.1em) solid;
        border-radius: 50%;
        border-color: var(--sangha-contributor-border-color, var(--primary-color, black));
        width: var(--sangha-contributor-size);
        height: var(--sangha-contributor-size);
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        overflow: hidden;
      }

      .contributor-name {
        margin: 0.3em;
        font-size: 0.7em;
      }
    </style>
    <template is="dom-repeat" items="[[ _displayContributors ]]">
      <div class="contributor">
        <sangha-responsive-image class="contributor-image" img="[[ item.avatar ]]" alt="[[ item.name ]]" width="[[ imgSize ]]" height="[[ imgSize ]]"></sangha-responsive-image>
        <template is="dom-if" if="[[ large ]]">
          <span class="contributor-name">[[ item.name ]]</span>
        </template>
      <div>
    </template>
    <template is="dom-if" if="[[ _totalContributors ]]">
      <div class="contributor contributor-total">
        <div class="contributor-image">
          + [[ _totalContributors ]]
        </div>
      </div>
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * @extends {Polymer.Element}
     */
    class SanghaContributors extends Polymer.Element {
      static get is() { return 'sangha-contributors'; }

      static get properties() {
        return {
          // Array of contributors to show
          contributors: {
            type: Array,
          },
          // maximum contributors to show
          maxContributors: {
            type: Number,
            value: 10,
          },
          // smaller images
          small: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          // show bigger images and name
          large: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          // whether contributors should overlap
          overlap: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
          },
          // base image size in px
          imgSize: {
            type: Number,
            value: 100,
          },
          // computed number of total contributors
          _totalContributors: {
            type: Number,
          },
          // limited number of contributors to display
          _displayContributors: {
            type: Array,
          },
        };
      }

      static get observers() {
        return [
          "__totalContributors(contributors, maxContributors)",
        ];
      }

      __totalContributors(contributors, maxContributors) {
        if (!contributors) { return; };
        if ((contributors.length - maxContributors) > 0) {
          this._totalContributors = contributors.length - maxContributors;
          this._displayContributors = contributors.slice(0, maxContributors);
        } else {
          this._totalContributors = false;
          this._displayContributors = contributors;
        }
      }
    }

    window.customElements.define(SanghaContributors.is, SanghaContributors);
  </script>
</dom-module>
